<div class="row">
    <div class="triple-spacer">

    </div>
<div class="col s10 offset-s1 m6">
<p class="josefin heading-paragraph m-left">That's My Type is the greatest dating app of all Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro cumque ipsum accusantium nesciunt sequi repudiandae necessitatibus aperiam aliquam, tempore eveniet reprehenderit voluptate voluptatem inventore provident et eos. Fugiat, voluptas ullam.</p>
</div>
<div class="col s12 spacer">

</div>
<div class="col s10 m6">
<button (click)="navigateHome()" class="waves-effect waves-light btn-large black btn-block m-left">Join That's My Type</button>
</div>
</div>
